<div ng-app='copterApp' ng-controller='JoystickCtrl'>

<button ng-click='up()'>Up!</button><br/>
<button ng-click='down()'>Down!</button><br/>
<button ng-click='left()'>Left!</button> <button ng-click='center()'>Center</button> <button ng-click='right()'>Right</button><br/>
<button ng-click='reset()'>Reset</button>

<button ng-click='front()'>Front</button>
<br/>
<button ng-click='back()'>Back</button>

</div>

<script src="/js/myapp.js"></script>
